<!DOCTYPE html>
<html>
	<!-- adjust to mobile -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height initial-scale=1">

	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->

	<!-- added two library files to do youtube embeds -->
	<script src="https://www.youtube.com/iframe_api"></script>
	<script data-require="angular.js@1.3.11" data-semver="1.3.11" src="https://code.angularjs.org/1.3.11/angular.js"></script>
	<script src="angular-youtube-embed.js"></script>
	<script src="angular-cookies.min.js"></script>
	<script src="angularLocalStorage.js"></script>
	<title>SquirtleVideoApp</title>
	<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<!-- Our stylesheet -->
	    	<link rel="stylesheet" href="style.css">
	<!-- jQuery -->
	<body ng-app="squirtleApp" ng-controller="squirtleVideosCtrl">
		<!-- ############# VideoListView ############# -->
		<h3>Squirtle's Guide to Being a Pokémon</h3>
		
		<form ng-submit="videoAdd()" class="form-horizontal" id="addVideoForm" ng-show="showAddVideoForm">
			<label for="videoInput" class="control-label">Youtube id</label>
		    <input type="text" ng-model="videoInput" id="videoInput" size="50" placeholder="Youtube id" class="form-control"/>

		    <label for="titleInput" class="control-label">Video title</label>
		    <input type="text" ng-model="titleInput" id="titleInput" size="50" placeholder="Video title" class="form-control"/>

		    <label for="categoryInput" class="control-label">Category</label>
		    <input type="text" ng-model="categoryInput" id="categoryInput" size="50" placeholder="Category" class="form-control"/>

		    <label for="ratingInput" class="control-label">Rating</label>
		    <select class="form-control" ng-model="ratingInput" id="ratingInput">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>

		    <button class="btn btn-danger" style="margin-top: 10px;" ng-click="videoForm()">Cancel</button>
		    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Add Video</button>
		</form>
		<button class="btn btn-primary" ng-click="videoForm()" ng-show="!showAddVideoForm">Add new video</button>
		</br>
		<div class="mini-header">
			<h4> Already Added Videos </h4>
		</div>
		<div class="videos-container">
			<div ng-repeat="x in videoList">
				<div class="video-container">
					<div class="videoTitle" ng-click="videoView(x)">
						<!-- this div should be clickable to get to
							the information page with commens etc om en klickar ska en komma till VideoView -->
						{{x.title}}
					</div>
					<youtube-video video-id="x.id" class="thumbnailSize"></youtube-video>
					<div class="rating">
							<img ng-src="pokeball2.png" ng-repeat="n in range(1,x.rating)"/>
					</div>
					<div id="x.id" ng-show="x.showComments">
						HEJ
					</div>
				</div>
				<!--
			    <input type="checkbox" ng-model="x.done"/> <span ng-bind="x.karateText"></span> -->
			</div>
		</div>

		<!-- ############# VideoView ############# -->
		<button class="btn btn-primary" ng-click="remove()" ng-hide="hideRemove">Remove marked video</button>

		<!-- You can use 'youtube-video' as an element or attribute. -->
		
		<script>
			var app = angular.module('squirtleApp', [
				'youtube-embed',
				'ngCookies',
				'angularLocalStorage'
				]); 
			app.controller('squirtleVideosCtrl', function($scope, storage) 
			    {
			    storage.bind($scope, 'videoList', {defaultValue: []});
			    $scope.hideRemove = true;
			    $scope.hideComments = true;
			    $scope.showAddVideoForm = false;

			    //create video list
			    $scope.videoListTest = [
			    	{id: 'gnPXUhBpfDg', title: 'Tarzan - Son of man', category: '', rating: 5, showComments: false}, 
			    	{id: 'CErbBAX7GWk', title: 'Baby Squirtle Being Cute', category: '', rating: 3, showComments: false}, 
			    	{id: 'aq105Ccv-uw', title: 'Squirtle learns Hydro-Pump', category: '', rating: 4, showComments: false}];
			   
			    //$scope.videoList = $scope.videoListTest;

			    $scope.videoForm = function() { 
			    	//$scope.showAddVideoForm = true;
			    	if ($scope.showAddVideoForm == false) {	//checks if the clicked video hides the comments
			    		$scope.showAddVideoForm = true;		// if so, show the comments
			    	} else if ($scope.showAddVideoForm == true) {
			    		$scope.showAddVideoForm = false;
			    	}
			    };

			    //add new video
			    $scope.videoAdd = function() {//if(video !== in list utför; else;)
			        $scope.videoList.push({
			        	id: $scope.videoInput, 
			        	title: $scope.titleInput, 
			        	category: $scope.categoryInput, 
			        	rating: $scope.ratingInput,
			        	showComments: false	//default
			        });
			        $scope.videoInput = "";
			        $scope.titleInput = "";
			        $scope.categoryInput = "";
			        $scope.ratingInput = "";
			        };

			    $scope.remove = function() {
			        var oldList = $scope.videoList;
			        $scope.videoList = [];
			        angular.forEach(oldList, function(x) 
			            {
			            if (!x.done) $scope.videoList.push(x);
			            });
			        };

			    $scope.videoView = function(vid) {
			    	//console.log(vid);
			    	if (vid.showComments == false) {	//checks if the clicked video hides the comments
			    		vid.showComments = true;		// if so, show the comments
			    	} else if (vid.showComments == true) {
			    		vid.showComments = false;
			    	}
			    };

			    //function for creating a range
			    $scope.range = function(min, max, step) {
				    step = step || 1;
				    var input = [];
				    for (var i = min; i <= max; i += step) {
				        input.push(i);
				    }
				    return input;
				};
			 
			 //$scope.theBestVideo = 'gnPXUhBpfDg';

			});
		</script>

	</body>
</html>